#### Importando as Bibliotecas

In [388]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

#### Baixando os Datasets

In [200]:
vegan = "C:/Users/felip/Meu Drive (felipe.bmaia@al.infnet.edu.br)/infnet/developed projects/foursquare_API/novo/vegan_restaurant.csv"
cafes = "C:/Users/felip/Meu Drive (felipe.bmaia@al.infnet.edu.br)/infnet/developed projects/foursquare_API/novo/cafes.csv"
comercio = "C:/Users/felip/Meu Drive (felipe.bmaia@al.infnet.edu.br)/infnet/developed projects/foursquare_API/novo/comercio.csv"
hotels = "C:/Users/felip/Meu Drive (felipe.bmaia@al.infnet.edu.br)/infnet/developed projects/foursquare_API/novo/hotels.csv"
italian = "C:/Users/felip/Meu Drive (felipe.bmaia@al.infnet.edu.br)/infnet/developed projects/foursquare_API/novo/italian.csv"
japanese = "C:/Users/felip/Meu Drive (felipe.bmaia@al.infnet.edu.br)/infnet/developed projects/foursquare_API/novo/japanese.csv"
professional_services = "C:/Users/felip/Meu Drive (felipe.bmaia@al.infnet.edu.br)/infnet/developed projects/foursquare_API/novo/professional_services.csv"
restaurantes_diversos = "C:/Users/felip/Meu Drive (felipe.bmaia@al.infnet.edu.br)/infnet/developed projects/foursquare_API/novo/restaurantes_diversos.csv"
shopping = "C:/Users/felip/Meu Drive (felipe.bmaia@al.infnet.edu.br)/infnet/developed projects/foursquare_API/novo/shopping.csv"

In [201]:
vegan = pd.read_csv(vegan)
cafes = pd.read_csv(cafes)
comercio = pd.read_csv(comercio)
hotels = pd.read_csv(hotels)
italian = pd.read_csv(italian)
japanese = pd.read_csv(japanese)
professional_services = pd.read_csv(professional_services)
restaurantes_diversos = pd.read_csv(restaurantes_diversos)
shopping = pd.read_csv(shopping)

# total 9 categorias

#### Renomeando os valores da coluna "categories"

In [202]:
vegan = vegan.assign(categories='Vegan and Vegetarian Restaurant')
cafes = cafes.assign(categories='Cafes, Snack bars, Sweets')
comercio = comercio.assign(categories='Retail')
hotels = hotels.assign(categories='Hotels')
italian = italian.assign(categories='Italian Restaurant')
japanese = japanese.assign(categories='Japanese Restaurant')
professional_services = professional_services.assign(categories='Professional Services')
restaurantes_diversos = restaurantes_diversos.assign(categories='Various Restaurants')
shopping = shopping.assign(categories='Mall and Galleries')

#### Simplificando os DFs

In [203]:
df = vegan
df1 = cafes
df2 = comercio
df3 = hotels
df4 = italian
df5 = japanese
df6 = professional_services
df7 = restaurantes_diversos
df8 = shopping

#### Juntando os Data Frames

In [187]:
# função concat  ---> df_concat = pd.concat([df1, df2])  ---> concatenando (todos possuem 26 colunas)

In [206]:
df_full = pd.concat([df, df1, df2, df3, df4, df5, df6, df7, df8])

In [207]:
df_full.shape

(4541, 26)

In [298]:
df_full.to_csv("data_full.csv")

df = pd.read_csv("data_full.csv")

In [299]:
df.shape

(4541, 27)

#### Removendo Colunas Desnecessárias

In [300]:
df = df[["Bairro", "geocodes.main.latitude", "geocodes.main.longitude", "name", "categories", "location.formatted_address"]]

In [301]:
df.head()

,Bairro,geocodes.main.latitude,geocodes.main.longitude,name,categories,location.formatted_address
0,Botafogo,-22.953341,-43.186139,Refeitório Orgânico,Vegan and Vegetarian Restaurant,"Rua Dezenove de Fevereiro, 120 (R. Mena Barret..."
1,Botafogo,-22.956535,-43.192739,Vegana Chácara,Vegan and Vegetarian Restaurant,"Rua Hans Staden, 30, Rio de Janeiro, RJ, 22281..."
2,Botafogo,-22.956195,-43.192417,Naturalie Bistrô,Vegan and Vegetarian Restaurant,"Rua Visconde de Caravelas, 11 (R. Real Grandez..."
3,Botafogo,-22.962374,-43.168412,Gaia Art & Café,Vegan and Vegetarian Restaurant,"Rua Gustavo Sampaio, 323, Rio de Janeiro, RJ, ..."
4,Botafogo,-22.955020,-43.195212,Vegan Vegan,Vegan and Vegetarian Restaurant,"Rua Voluntários da Pátria, 402 (R. Cde. de Ira..."

#### Renomeando as colunas

In [302]:
df = df.rename(columns={"Bairro": "neighborhood", "geocodes.main.latitude": "latitude", "geocodes.main.longitude": "longitude", "location.formatted_address": "address"})

In [316]:
df.head(2)

,neighborhood,latitude,longitude,name,categories,address
0,Botafogo,-22.953341,-43.186139,Refeitório Orgânico,Vegan and Vegetarian Restaurant,"Rua Dezenove de Fevereiro, 120 (R. Mena Barret..."
1,Botafogo,-22.956535,-43.192739,Vegana Chácara,Vegan and Vegetarian Restaurant,"Rua Hans Staden, 30, Rio de Janeiro, RJ, 22281..."

In [304]:
df.to_csv("data_full_clean1.csv")

#### Removendo Valores Duplicados

In [317]:
# se a coluna name e address forem iguais ao mesmo tempo, se trata do mesmo estabelecimento
df[["name", "address"]].duplicated().value_counts()

False    3655
True      886
dtype: int64

In [318]:
df.shape

(4541, 6)

In [324]:
df = df.drop_duplicates(subset=["name","address"], keep="first").reset_index(drop = True)

In [368]:
df.shape

(3655, 6)

In [326]:
df.to_csv("data_full_clean2.csv")

In [330]:
df.isnull().sum()

neighborhood      0
latitude          0
longitude         0
name              0
categories        0
address         113
dtype: int64

In [367]:
df["name"].duplicated().value_counts()

False    3339
True      316
Name: name, dtype: int64

In [384]:
df[df["address"] =='Avenida Henrique Dumont, 68, Rio de Janeiro, RJ, 22410-060']

,neighborhood,latitude,longitude,name,categories,address
74,Ipanema,-22.984281,-43.213665,Hareburger,Vegan and Vegetarian Restaurant,"Avenida Henrique Dumont, 68, Rio de Janeiro, R..."
83,Ipanema,-22.984320,-43.213353,Hare Burger,Vegan and Vegetarian Restaurant,"Avenida Henrique Dumont, 68, Rio de Janeiro, R..."

In [385]:
df["address"].duplicated().value_counts()

False    3171
True      484
Name: address, dtype: int64