In [2]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

In [3]:
path = "C:/Users/felip/Meu Drive (felipe.bmaia@al.infnet.edu.br)/infnet/developed projects/foursquare_API/novo/data_full_clean4.csv"

In [4]:
df = pd.read_csv(path, sep=";")

In [5]:
df.head()

,Column1,Unnamed: 0,fsq_id,categories,chains,distance,link,name,timezone,geocodes.main.latitude,...,location.locality,location.post_town,location.postcode,location.region,location.address_extended,related_places.parent.fsq_id,related_places.parent.name,related_places.children,location.neighborhood,Bairro
0,0,0,4b927872f964a52010fc33e3,Vegan and Vegetarian Restaurant,[],8400,/v3/places/4b927872f964a52010fc33e3,RefeitÃ³rio OrgÃ¢nico,America/Sao_Paulo,-22953341,...,Rio de Janeiro,Botafogo,22280-030,RJ,NaN,NaN,NaN,NaN,NaN,Botafogo
1,1,1,4c599758aeb7b7131f6a73cd,Vegan and Vegetarian Restaurant,[],15730,/v3/places/4c599758aeb7b7131f6a73cd,Vegana ChÃ¡cara,America/Sao_Paulo,-22956535,...,Rio de Janeiro,Botafogo,22281-060,RJ,NaN,NaN,NaN,NaN,NaN,Botafogo
2,2,2,54be6130498e98618bda5cf5,Vegan and Vegetarian Restaurant,[],15060,/v3/places/54be6130498e98618bda5cf5,Naturalie BistrÃ´,America/Sao_Paulo,-22956195,...,Rio de Janeiro,Botafogo,22271-021,RJ,NaN,NaN,NaN,NaN,NaN,Botafogo
3,3,3,50b692d0e4b0a577aea57423,Vegan and Vegetarian Restaurant,[],19160,/v3/places/50b692d0e4b0a577aea57423,Gaia Art & CafÃ©,America/Sao_Paulo,-22962374,...,Rio de Janeiro,Leme,22010-010,RJ,lj A,NaN,NaN,NaN,NaN,Botafogo
4,4,4,4b058727f964a520758222e3,Vegan and Vegetarian Restaurant,[],17120,/v3/places/4b058727f964a520758222e3,Vegan Vegan,America/Sao_Paulo,-2295502,...,Rio de Janeiro,Botafogo,22270-016,RJ,lj B,NaN,NaN,NaN,NaN,Botafogo

In [6]:
df = df[["location.post_town", "geocodes.main.latitude", "geocodes.main.longitude", "name", "categories", "location.formatted_address"]]

In [7]:
df.head(3)

,location.post_town,geocodes.main.latitude,geocodes.main.longitude,name,categories,location.formatted_address
0,Botafogo,-22953341,-43186139,RefeitÃ³rio OrgÃ¢nico,Vegan and Vegetarian Restaurant,"Rua Dezenove de Fevereiro, 120 (R. Mena Barret..."
1,Botafogo,-22956535,-43192739,Vegana ChÃ¡cara,Vegan and Vegetarian Restaurant,"Rua Hans Staden, 30, Rio de Janeiro, RJ, 22281..."
2,Botafogo,-22956195,-43192417,Naturalie BistrÃ´,Vegan and Vegetarian Restaurant,"Rua Visconde de Caravelas, 11 (R. Real Grandez..."

In [8]:
df.shape

(4205, 6)

In [9]:
df = df.rename(columns={"location.post_town": "neighborhood", "geocodes.main.latitude": "latitude", "geocodes.main.longitude": "longitude", "location.formatted_address": "address"})

In [33]:
df.head(3)

,neighborhood,latitude,longitude,name,categories,address
0,Botafogo,-22953341,-43186139,RefeitÃ³rio OrgÃ¢nico,Vegan and Vegetarian Restaurant,"Rua Dezenove de Fevereiro, 120 (R. Mena Barret..."
1,Botafogo,-22956535,-43192739,Vegana ChÃ¡cara,Vegan and Vegetarian Restaurant,"Rua Hans Staden, 30, Rio de Janeiro, RJ, 22281..."
2,Botafogo,-22956195,-43192417,Naturalie BistrÃ´,Vegan and Vegetarian Restaurant,"Rua Visconde de Caravelas, 11 (R. Real Grandez..."

In [34]:
df = df[["neighborhood", "latitude", "longitude", "name", "categories"]]

In [35]:
df.isnull().sum()

neighborhood    0
latitude        0
longitude       0
name            0
categories      0
dtype: int64

In [36]:
df[["neighborhood", "latitude", "longitude","name"]].duplicated().value_counts()

False    3462
dtype: int64

In [13]:
df = df.drop_duplicates(subset=["neighborhood", "latitude", "longitude","name"], keep="first").reset_index(drop = True)

In [37]:
df.to_csv("data_full_clean6.csv")

In [38]:
df.shape

(3462, 5)

In [39]:
df.head(2)

,neighborhood,latitude,longitude,name,categories
0,Botafogo,-22953341,-43186139,RefeitÃ³rio OrgÃ¢nico,Vegan and Vegetarian Restaurant
1,Botafogo,-22956535,-43192739,Vegana ChÃ¡cara,Vegan and Vegetarian Restaurant